.bounce {
  display: inline-block; /* Ensures each character is treated as a block for animation */
  animation: bounce 3s ease-in-out infinite;
}

.pulse {
  display: inline-block; /* Ensures each character is treated as a block for animation */
  animation: pulse 3s ease-in-out infinite;
}

.parallex {
  background: url("../img/parallex_img.webp");
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
