.bounce {
  display: inline-block; /* Ensures each character is treated as a block for animation */
  animation: bounce 3s ease-in-out infinite;
}

.pulse {
  display: inline-block; /* Ensures each character is treated as a block for animation */
  animation: pulse 3s ease-in-out infinite;
}

.parallex {
  background: url("../img/parallex_img.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.card_01 {
  background: url("../img/card_image_01.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.card_02 {
  background: url("../img/card_image_04.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.card_03 {
  background: url("../img/card_image_02.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card_04 {
  background: url("../img/card_image_03.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
