.header {
  position: fixed;
  z-index: 9999;
  right: 80px;
  top: 40px;
  .menu {
    width: 1000px;
    height: 650px;
    background-color: white;
    border-radius: 25px;
    position: relative;
  }

  .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    height: 90%;
    box-sizing: border-box;
    .body {
      display: flex;
      gap: 10px;
      height: 90%;
      flex-direction: column;
      .linkContainer {
        display: flex;
        flex-wrap: wrap;
      }
      a {
        text-decoration: none;
        color: black;
        font-size: 46px;
      }
    }
    .footer {
      display: flex;
      flex-wrap: wrap;
      a {
        width: 50%;
        margin-top: 5px;
      }
    }
  }
}

.button {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
}

.burger {
  width: 100%;
  &::after,
  &::before {
    content: "";
    display: block;
    height: 1px;
    width: 50%;
    margin: auto;
    background-color: black;
    position: relative;
    transition: transform 0.3s;
  }

  &::after {
    top: -5px;
  }

  &::before {
    top: 5px;
  }
}

.burgerActive {
  &::after {
    transform: rotate(45deg);
    top: -1px;
  }

  &::before {
    transform: rotate(-45deg);
    top: 0px;
  }
}
